.header {
    height: 4rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    section {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        .block {
            display: flex;
            align-items: center;
            gap: 12px;
        }
    }
}
.logo {
    font-weight: 900;
}
