.header {
    background: var(--background-secondary);
    outline: 1px solid var(--border);

    .item {
        font-size: 14px;
        color: var(--foreground-tertiary);
        &:hover {
            color: var(--foreground);
        }

        display: flex;
        align-items: center;

        svg {
            $size: 20px;
            width: $size;
            height: $size;
        }
    }

    .section {
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .content {
            position: fixed;
            inset: 3rem 0 0 auto;
            z-index: 100;
            overflow: hidden;
            border-top: 1px solid var(--border);

            display: flex;
            gap: 2rem;
            padding: 1rem 2.5%;
            flex-direction: column;

            background: var(--background-secondary);
        }
        .block {
            display: flex;
            .item {
                justify-content: center;
                width: 36px;
            }
        }
        .list {
            display: flex;
            flex-direction: column;
            gap: 8px;
            .item {
                &.active {
                    color: var(--foreground);
                }
                font-size: 1.5rem;
            }
        }
        .logo {
            flex-shrink: 0;
            margin-right: 1rem;
        }
    }
}

@media screen and (min-width: 769px) {
    .header {
        .section {
            .content {
                position: static;
                width: 100%;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: unset;
                border-top: unset;
            }

            .list {
                flex-direction: row;
                .item {
                    font-size: 14px;
                }
            }
        }
        .mobile {
            display: none;
        }
    }
}
