.header {
    background: var(--background-secondary);
    outline: 1px solid var(--border);

    .item {
        font-size: 14px;
        color: var(--foreground-tertiary);
        display: flex;
        align-items: center;

        &:hover {
            color: var(--foreground);
        }

        svg {
            width: 20px;
            height: 20px;
        }
    }

    .section {
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .content {
            display: none;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            gap: 2rem;
        }

        .mobileMenu {
            position: fixed;
            inset: 3rem 0 0 auto;
            z-index: 200;
            border-top: 1px solid var(--border);
            background: var(--background-secondary);
            padding: 2rem 2.5%;

            .item {
                font-size: 1.5rem;
            }

            .list {
                flex-direction: column;
                margin-bottom: 2rem;
            }
        }

        .block {
            display: flex;

            .item {
                justify-content: center;
                width: 36px;
            }
        }

        .list {
            display: flex;
            gap: 8px;

            .item {
                &.active {
                    color: var(--foreground);
                }
            }
        }

        .logo {
            flex-shrink: 0;
            margin-right: 1rem;
        }
    }
}

@media screen and (min-width: 769px) {
    .header {
        .section {
            .content {
                display: flex;
            }
        }

        .mobileMenu,
        .mobile {
            display: none;
        }
    }
}
