.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 22rem), 1fr));
    gap: 2rem;
    .content {
        display: grid;
        place-content: center;
        place-items: center;

        border-radius: 12px;
    }
    .form {
        .controller {
            display: flex;
            gap: 8px;
        }
    }
}
