.container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.inputContainer {
    display: flex;
    gap: 8px;
}

.dropdown {
    position: relative;

    .dropdown__content {
        background: var(--active-background);
        border-radius: 6px;
        overflow: hidden;
        margin-top: 8px;
        position: absolute;

        .dropdown__content__item {
            height: 40px;
            display: flex;
            align-items: center;
            padding-inline: 12px;
            cursor: pointer;
            &.active {
                background: var(--active-background-secondary);
                pointer-events: none;
            }
        }
    }
}
