$padding: 0.75rem;
.sidebar {
    background: var(--background-secondary);
    border-right: 1px solid var(--border);
}
.header {
    padding: 1rem $padding;
}
.profile {
    height: 5rem;
    border-block: 1px solid var(--border);
    // indev
    padding: $padding;
    display: grid;
    place-content: center;
    place-items: center;
}
.navigation {
    padding-block: 1.5rem;
    .blockTitle {
        margin-bottom: 0.5rem;
        margin-left: 1rem;
    }
}

.navItem {
    height: 40px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    gap: $padding;
    padding-inline: 1rem;
    color: var(--foreground-secondary);
    transition: color 100ms linear;
    &:hover {
        color: var(--foreground);
    }
    &.active {
        background: var(--interactive-background);
        color: var(--foreground);
    }
}
