.component {
    position: fixed;

    padding: 12px;
    border-radius: 8px;
    z-index: 100;
}
.component.info {
    background: var(--background-secondary);
}
.component.left {
    left: 1rem;
}
.component.right {
    right: 1rem;
}
.component.top {
    top: 1rem;
}
.component.bottom {
    bottom: 1rem;
}
