.component {
    position: fixed;

    padding: 12px;
    border-radius: 8px;
    z-index: 100;
    background: var(--solid);
    color: var(--foreground-secondary);
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
}
