.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
    border-radius: calc(var(--min-value) * 2);
    overflow: hidden;
    .card {
        height: 5rem;
        padding: 12px;

        cursor: pointer;

        position: relative;
        .curtain {
            position: absolute;
            background: var(--background);

            inset: 0;
            overflow: hidden;
            color: var(--foreground);

            display: grid;
            place-content: center;
            place-items: center;
        }
    }
}
