.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
    border-radius: 1rem;
    overflow: hidden;
    .card {
        height: 8rem;
        padding: 12px;

        cursor: pointer;

        position: relative;
        .curtain {
            position: absolute;
            background: var(--background);

            inset: 0;
            overflow: hidden;
            color: var(--foreground);

            display: grid;
            place-content: center;
            place-items: center;
        }
    }
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
