.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.log {
    display: grid;
    grid-template-areas: 'version title' 'line paragraph';
    grid-template-columns: 4rem auto;
    gap: 8px;

    .version {
        font-family: var(--font-geist-mono);
        font-size: 14px;
        padding: 4px 8px;
        border-radius: 6px;

        grid-area: version;
    }

    .title {
        font-size: 18px;
        font-weight: 500;
        grid-area: title;
    }

    .line {
        width: 2px;
        background: var(--interactive-background-tertiary);
        margin-inline: auto;
        grid-area: line;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .paragraph {
        grid-area: paragraph;
    }
}

.log__new {
    background: #22c55e;
    color: white;
}
.log__update {
    background: #3b82f6;
    color: white;
}
