.component {
    width: min(95%, 720px);
    padding: 12px;
    border-radius: 1rem;

    header {
        padding-block: 12px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .body {
        $padding: 12px;
        .copy__button {
            position: absolute;
            right: $padding + 8px;
            transform: translateY(8px);
        }
        .content {
            background: var(--background);
            border-radius: 8px;
            padding: $padding;
            max-height: 50dvh;
            overflow: scroll;
            border: 1px solid var(--border);
        }
    }
}
