.component {
    width: min(95%, 480px);
    padding: 12px;
    border-radius: 1rem;

    header {
        padding-block: 12px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .body {
        .content {
            background: var(--background);
            border-radius: 8px;
            padding: 12px;
            max-height: 50dvh;
            overflow: scroll;
            border: 1px solid var(--border);
        }
    }
}
