.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
    gap: 1rem;
    row-gap: 2rem;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 12px;
    &.result {
        grid-row: 1;
    }
    .preview {
        height: 100%;
        border-radius: calc((var(--min-value) * 2));
    }
}

@media screen and (min-width: 700px) {
    .section.result {
        grid-row: unset;
    }
}
