:root {
    --color-blue-50: #eff6ff;
    --color-blue-100: #e5e9ff;
    --color-blue-200: #bfdbfe;
    --color-blue-300: #93c5fd;
    --color-blue-400: #60a5fa;
    --color-blue-500: #3b82f6;
    --color-blue-600: #2563eb;
    --color-blue-700: #1d4ed8;
    --color-blue-800: #1e40af;
    --color-blue-900: #1e3a8a;
    --color-blue-950: #172554;

    --background: #f8f8f9;
    --background-secondary: #fcfcfd;

    --interactive-background: #f0f0f1;
    --active-background: #e8e8e9;
    --interactive-background-tertiary: var(--color-blue-100);
    // --interactive-background-tertiary: #e1e1e2;

    --border: #d9d9da;
    --border-secondary: #47474d;
    --border-tertiary: #606068;

    --solid: #252527;

    --foreground: #1f1f21;
    --foreground-secondary: #fcfcfd;
    --foreground-tertiary: #636365;
    // HSL
    --info: 221, 83%, 53%;
    --error: 0, 72%, 51%;
    --success: 142, 76%, 36%;

    --shadow: rgba(149, 157, 165, 0.2);
}

[data-theme='dark'] {
    --background: #050505;
    --background-secondary: #090909;
    --border: #181818;
    --foreground: #f5f5f5;

    --active-background: #252527;
    // --shadow: rgba(149, 157, 165, 0.2);
    --shadow: #0c0c0c;
}
